<!DOCTYPE html>
<html>
    <head>
        <title>My First Web Page</title>
        <script></script>
        <style>
            body{
                background-color: rgb(10, 97, 93);
                color: #fff;
        
            }
        </style>
    </head>
    <body>
<a href="#"><h1>First Project on Data Visualization</h1></a>
<marquee>Welcome, this is a test page</marquee>
<P>On this test page we will make all data imported on excel a visual when downloaded, its actually an open 
    source project.
</P>
<div class="#box1">

    <div class="">
        <h1></h1>
    </div>
</div>
<div id="box2">
    <p><style>
        body{
            background-color: blueviolet;
            column-width: 100px;
        }
    </style></p>
</div>






<footer>

</footer>





    </body>
</html>